### Introduction to python

In [6]:
print("hello, world")

hello, world

In [10]:
'''name = "Engineer"
age = 5
x = 5'''

In [12]:
type(name) # this displays the data type of the variable

str

In [ ]:
credit_card = "41010031071"

In [ ]:
ages = [24,34,56,78]

In [14]:
first_name_haf_ ="Joe"

SyntaxError: invalid syntax (611254852.py, line 1)

In [16]:
name = 'Joe'

In [20]:
print(name)

Joe

In [ ]:
#first name,last name, age,

In [32]:
first_name = "Samuel"
last_name = "Appiah"
age = 20

In [34]:
print("My name is "+first_name+" "+last_name)

My name is Samuel Appiah

In [33]:
f"My name is {first_name} "

'My name is Samuel '

In [26]:
print(last_name)

Baidoo

## Operators

In [51]:
print(10%2)

0

In [53]:
current = 15
resistance =10

In [55]:
voltage = current * resistance

In [71]:
print("voltage is "+ str(voltage) + " volt")

voltage is 150 volt

#### user Input

In [ ]:
input("Enter your name)

In [3]:
print(input("Enter your name"))

Enter your name Curtis

Curtis

In [ ]:
first_name = "Samuel"
last_name = "Appiah"
age = 20

In [11]:
first_name = input("Enter your first Name ")
print(first_name)

Enter your first Name  Samuel

Samuel

In [ ]:
# Name, age and favorite color

In [25]:
name = input(" What is your name ")
age = int(input("How old are you "))
department = input("Enter your department")

 What is your name
How old are you  d
Enter your department d

In [19]:
print("My name is "+name+". I am "+age+" years old."+" My favorite color is "+color)

My name is Michael Mensah. I am 34 years old. My favorite color is Blue

In [31]:
2>2

False

In [63]:
score = float(input("Enter your score"))
if score >= 50:
    print("You passed")
elif score > 15 and score<30:
    print("You need to resit")
else:
    print("You failled!!!!")

Enter your score 16

You need to resit

In [43]:
number = int(input("enter a number: "))
if number ==2:
    print("yes")

enter a number:  2

yes

In [45]:
2+3 = 5

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (78355756.py, line 1)

In [47]:
import math

In [ ]:
x = (-b + math.sqrt(math.exp(b,2) - 4*a*c))/2 *a
# bodmas, pemdas

In [51]:
4-2*6/2

-2.0